{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
<h1>Step 3: Your Courses</h1>
<p>To find you good partners we need to know what courses you are taking and why you are taking them.</p>
<form class="well" method="post">
  {% if courses %}
  <h3>Current Courses</h3>
  <ul>
  {% for c in courses %}
    <li>{{c}}</li>
  {% endfor %}
  </ul>
  <hr>
  {% endif %}
  {{ user_course_form|bootstrap }}
  {% csrf_token %}
  <div class="control-group">
    <div class="controls">
      <button type="submit" name="add" value="true" class="btn">Add Another</button>
      <button type="submit" class="btn btn-primary">Done</button>
    </div>
  </div>
</form>
{% endblock %}
