{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
<div class="row">
  <div class="span6">
    <h1>Step 3:</h1>
    <h2>Your Courses</h2>
    <p>Ok one last thing. We want to find you people that are taking the same courses as you. So what courses are you taking?</p>
    {% if courses %}
    <h3>Current Courses</h3>
    <ul>
    {% for c in courses %}
      <li>{{c}}</li>
    {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="span6">
    <form class="well form-horizontal" method="post">
      {{ user_course_form|bootstrap }}
      {% csrf_token %}
      <div class="control-group">
        <div class="controls">
          <button type="submit" name="add" value="true" class="btn">Add Course</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
