{% extends "base.html" %}
{% load bootstrap %}
{% block login %}
<li>
  <form class="form-inline" action="/login/" method="post">
    {% csrf_token %}
    <input type="text" name="username" class="input-medium" placeholder="Email">
    <input type="password" name="password" class="input-medium" placeholder="Password">
    <button type="submit" class="btn">Login</button>
  </form>
</li>
{% endblock %}
{% block content %}
<div class="row">
   <div class="span6">
      <p>After Class is a way to meet other people like you taking online courses.</p>
      <p>You are not alone, so let us help you find a study-buddy.</p>
   </div>
   <div class="span6">
      <div class="well">
         <form class="form-horizontal" method="post">
            <legend>Register</legend>
           {% csrf_token %}
           {{ form|bootstrap }}
           <div class="control-group">
             <div class="controls">
               <button type="submit" class="btn btn-primary">Sign Up</button>
             </div>
           </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}
