{% extends "base.html" %}
{% load bootstrap_pagination %}
{% load availability_check %}
{% block content %}
<p>Find groups for your course <strong>{{course.course}}</strong></p>
<div class="row">
  <div class="span4" style="position: relative;">
    <div id="graph" data-spy="affix"></div>
  </div>
  <div class="span8">
    <div id="user-holder"></div>
    {% bootstrap_paginate people range=10 %}
  </div>
</div>

{% endblock %}
{% block bottom_script %}
<script src="{{STATIC_URL}}js/d3.v2.min.js"></script>

<script type="text/javascript">
var user = {
  'age': '{{profile.get_age_display}}',
  'gender': '{{profile.get_gender_display}}',
  'person_type': '{{profile.get_person_type_display}}',
  'learning_style': '{{profile.get_learning_style_display}}',
  'interest': '{{profile.get_interest_display}}',
  'general_experience': '{{usercourse.get_general_experience_display}}',
  'general_level': '{{usercourse.get_general_level_display}}',
  'topic_experience': '{{usercourse.get_topic_experience_display}}',
  'topic_level': '{{usercourse.get_topic_level_display}}',
  'years_experience': '{{usercourse.get_years_experience_display}}',
  'reason': '{{usercourse.get_reason_display}}',
  'credit': '{{usercourse.get_credit_display}}',
  'goals': '{{usercourse.get_goals_display}}'
};

var people = [
  {% for p in people %}
  {
    'id': {{p.user.user.id}},
    'age': '{{p.user.get_age_display}}',
    'gender': '{{p.user.get_gender_display}}',
    'person_type': '{{p.user.get_person_type_display}}',
    'learning_style': '{{p.user.get_learning_style_display}}',
    'interest': '{{p.user.get_interest_display}}',
    'availability': {% availability_check p.user profile %},
    'general_experience': '{{p.get_general_experience_display}}',
    'general_level': '{{p.get_general_level_display}}',
    'topic_experience': '{{p.get_topic_experience_display}}',
    'topic_level': '{{p.get_topic_level_display}}',
    'years_experience': '{{p.get_years_experience_display}}',
    'reason': '{{p.get_reason_display}}',
    'credit': '{{p.get_credit_display}}',
    'goals': '{{p.get_goals_display}}'
  }{% if not forloop.last %},{% endif %}
  {% endfor %}
];

var holder = $("#user-holder");
for(var i=0;i<people.length;i++){
  holder.append(drawUserBox(people[i]));
}

var h = 300,
    w = 300;

var nodes = people,
    color = d3.scale.category20();

var root = {
  x: 142, 
  y: 142, 
  color: '#000', 
  radius: 8,
  fixed: true
};

links = [];
for(var n in nodes){
  links.push({source: root, target: nodes[n]});
}

nodes.push(root);

var force = d3.layout.force()
    .gravity(0.01)
    .charge(-4)
    .nodes(nodes)
    .links(links)
    .linkDistance(function(d){
      return calculateDistance(d.target);
    })
    .size([w, h]);

force.start();

var svg = d3.select("#graph").append("svg:svg")
    .attr("width", w)
    .attr("height", h);

var node = svg.selectAll("circle")
    .data(nodes)
    .enter().append("svg:circle")
    .attr("r", function(d) { return d.radius || 4; })
    .attr("id",function(d) {return "user-node-"+d.id;})
    .on("mouseover",function(d){
      if(d != root){
        d3.select(this).attr("r",8);
        $("#user-box-"+d.id).animate({
          borderTopColor:'#5192FB',
          borderLeftColor: '#5192FB',
          borderRightColor: '#5192FB',
          borderBottomColor: '#5192FB'
        },200);
        $('html, body').stop().animate({
          scrollTop: $("#user-box-"+d.id).offset().top-10
        }, 500);
      }
    })
    .on("mouseout",function(d){
      if(d != root){
        $("#user-box-"+d.id).animate({
          borderTopColor:'transparent',
          borderLeftColor: 'transparent',
          borderRightColor: 'transparent',
          borderBottomColor: 'transparent'
        },200);
        d3.select(this).attr("r",4);
      }
    })
    .style("fill", function(d, i) { return d.color || color(i % 20); });

force.on("tick", function(e) {
  node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
});

$(".user-box").hover(function(){
  var id = $(this).data('user-id');
  svg.select("#user-node-"+id).attr("r",8);
},function(){
  var id = $(this).data('user-id');
  svg.select("#user-node-"+id).attr("r",4);
})

function drawUserBox(user){
  return "<div class='well user-box' id='user-box-"+user.id+"' data-user-id='"+user.id+"'>"+
            "<form action='/groups/create/' method='post'>"+
              "{% csrf_token %}<input type='submit' value='Request group' class='btn btn-primary pull-right'>"+
              "<input type='hidden' name='user_id' value='"+user.id+"'>"+
            "</form>"+
            "<div class='clearfix'></div>"+
          "</div>";
}

function calculateDistance(other){
  var params = {'age':1, 
                'gender':1,
                'person_type':1,
                'learning_style':1, 
                'interest':1,
                'general_experience':1, 
                'general_level':1, 
                'topic_experience':1,
                'topic_level':1,
                'years_experience':1, 
                'reason':1,
                'credit':1, 
                'goals': 1};
  var score = 0;
  var max = 0;
  for(var p in params){
    if(user[p] == other[p]){
      score+=params[p];
    }
    max += params[p];
  }
  return (max-score)/max*134+10;
}
</script>

{% endblock %}