{% extends "base.html" %}
{% load bootstrap_pagination %}
{% load availability_check %}
{% block content %}
<h2>Find groups for your course <strong>{{usercourse.course}}</strong></h2>
{% if people %}
<div class="row">
  <div class="span4" style="position: relative;">
    <div data-spy="affix" style="width: 300px;">
      <div id="graph"></div>
      <div class="alert alert-info" id="viz-info">The black dot in the center represents you. Each other dot is another student enrolled in this course. The closer they are to you, they more similar they are to you.</div>
    </div>
  </div>
  <div class="span8">
    <div id="user-holder"></div>
    {% bootstrap_paginate people range=10 %}
  </div>
</div>
{% else %}
<p>It looks like no one else is enrolled in this course yet. Check back soon!</p>
{% endif %}
{% endblock %}
{% block bottom_script %}
<script src="{{STATIC_URL}}js/d3.v2.min.js"></script>

<script type="text/javascript">
var SMALL_RADIUS = 5;
var LARGE_RADIUS = 2*SMALL_RADIUS;

var user = {
  'age': '{{user.get_profile.get_age_display}}',
  'gender': '{{user.get_profile.get_gender_display}}',
  'person_type': '{{user.get_profile.get_person_type_display}}',
  'learning_style': '{{user.get_profile.get_learning_style_display}}',
  'interest': '{{user.get_profile.get_interest_display}}',
  'general_level': '{{usercourse.get_general_level_display}}',
  'topic_level': '{{usercourse.get_topic_level_display}}',
  'years_experience': '{{usercourse.get_years_experience_display}}',
  'reason': '{{usercourse.get_reason_display}}',
  'credit': '{{usercourse.get_credit_display}}',
  'goals': '{{usercourse.get_goals_display}}'
};

var people = [
  {% for p in people %}
  {
    'id': {{p.user.id}},
    'age': '{{p.user.get_profile.get_age_display}}',
    'gender': '{{p.user.get_profile.get_gender_display}}',
    'person_type': '{{p.user.get_profile.get_person_type_display}}',
    'learning_style': '{{p.user.get_profile.get_learning_style_display}}',
    'interest': '{{p.user.get_profile.get_interest_display}}',
    'bio': '{{p.user.get_profile.bio}}',
    'availability': {% availability_check p.user.get_profile user.get_profile "true" "false" %},
    'general_level': '{{p.get_general_level_display}}',
    'topic_level': '{{p.get_topic_level_display}}',
    'years_experience': '{{p.get_years_experience_display}}',
    'reason': '{{p.get_reason_display}}',
    'credit': '{{p.get_credit_display}}',
    'goals': '{{p.get_goals_display}}'
  }{% if not forloop.last %},{% endif %}
  {% endfor %}
];

var holder = $("#user-holder");
people.sort(function(a,b){
  return calculateDistance(a)-calculateDistance(b);
});
for(var i=0;i<people.length;i++){
  holder.append(drawUserBox(people[i]));
}

$(".request-group-form").submit(function(){
  var button = $(this).find('input[type="submit"]');
  button.val("Sending...");
  $.post('/groups/create/',$(this).serialize(),function(data){
    button.val(data['success']);
    button.removeClass('btn-primary');
    button.addClass('btn-success');
  });
  return false;
});

$(document).ready(function(){
  setTimeout(function(){
    $("#viz-info").fadeOut();
  },10000);
});


var h = 300,
    w = 300;

var nodes = people,
    color = d3.scale.category10();

var root = {
  x: 142, 
  y: 142, 
  color: '#000', 
  radius: LARGE_RADIUS,
  fixed: true
};

links = [];
for(var n in nodes){
  links.push({source: root, target: nodes[n]});
}

nodes.push(root);

var force = d3.layout.force()
    .gravity(0.01)
    .charge(-4)
    .nodes(nodes)
    .links(links)
    .linkDistance(function(d){
      return calculateDistance(d.target);
    })
    .size([w, h]);

force.start();

var svg = d3.select("#graph").append("svg:svg")
    .attr("width", w)
    .attr("height", h);

var node = svg.selectAll("circle")
    .data(nodes)
    .enter().append("svg:circle")
    .attr("r", function(d) { return d.radius || SMALL_RADIUS; })
    .attr("id",function(d) {return "user-node-"+d.id;})
    .on("mouseover",function(d){
      if(d != root){
        d3.select(this).attr("r",LARGE_RADIUS);
        $("#user-box-"+d.id).animate({
          borderTopColor:'#5192FB',
          borderLeftColor: '#5192FB',
          borderRightColor: '#5192FB',
          borderBottomColor: '#5192FB'
        },200);
        $('html, body').stop().animate({
          scrollTop: $("#user-box-"+d.id).offset().top-10
        }, 500);
      }
    })
    .on("mouseout",function(d){
      if(d != root){
        setTimeout(function(){
          $("#user-box-"+d.id).animate({
            borderTopColor:'transparent',
            borderLeftColor: 'transparent',
            borderRightColor: 'transparent',
            borderBottomColor: 'transparent'
          },200);
        },2000);
        
        d3.select(this).attr("r",SMALL_RADIUS);
      }
    })
    .style("fill", function(d, i) { return d.color || color(i % 10); });

force.on("tick", function(e) {
  node.attr("cx", function(d) { return d.x; })
      .attr("cy", function(d) { return d.y; });
});

$(".user-box").hover(function(){
  var id = $(this).data('user-id');
  svg.select("#user-node-"+id).attr("r",LARGE_RADIUS);
  $(this).animate({
    borderTopColor:'#5192FB',
    borderLeftColor: '#5192FB',
    borderRightColor: '#5192FB',
    borderBottomColor: '#5192FB'
  },200);
},function(){
  var id = $(this).data('user-id');
  svg.select("#user-node-"+id).attr("r",SMALL_RADIUS);
  $(this).animate({
    borderTopColor:'transparent',
    borderLeftColor: 'transparent',
    borderRightColor: 'transparent',
    borderBottomColor: 'transparent'
  },200);
});



function drawUserBox(user){
  return "<div class='well user-box' id='user-box-"+user.id+"' data-user-id='"+user.id+"'>"+

            "<form action='/groups/create/' method='post' class='pull-right request-group-form'>"+
              "{% csrf_token %}"+
              "<input type='submit' value='Request group' class='btn btn-primary'>"+
              "<input type='hidden' name='user_id' value='"+user.id+"'>"+
              "<input type='hidden' name='usercourse_id' value='{{usercourse.id}}'>"+
            "</form>"+
            "<strong>Similar availability: </strong>"+(user.availability?"Yes":"No")+"<br>"+
            "<strong>Gender: </strong>"+user.gender+"<br>"+
            "<strong>Description: </strong>"+user.person_type+"<br>"+
            "<strong>Area of study: </strong>"+user.interest+"<br>"+
            "<strong>Age: </strong>"+user.age+"<br>"+
            "<strong>Learning style: </strong>"+user.learning_style+"<br>"+
            "<strong>General level: </strong>"+user.general_level+"<br>"+
            "<strong>Topic level: </strong>"+user.topic_level+"<br>"+
            "<strong>Years of experience: </strong>"+user.years_experience+"<br>"+
            "<strong>Reason for taking: </strong>"+user.reason+"<br>"+
            "<strong>For credit: </strong>"+user.credit+"<br>"+
            "<strong>Goals: </strong>"+user.goals+"<br>"+
            "<strong>Bio: </strong>"+user.bio+
            "<div class='clearfix'></div>"+
          "</div>";
}

function calculateDistance(other){
  var params = {'age':3, 
                'gender':0,
                'person_type':1,
                'learning_style':1, 
                'interest':2,
                'general_level':1, 
                'topic_level':1,
                'years_experience':1, 
                'reason':5,
                'credit':10, 
                'goals': 1};
  var score = 0;
  var max = 0;
  for(var p in params){
    if(user[p] == other[p]){
      score+=params[p];
    }
    max += params[p];
  }
  return (max-score)/max*134+10;
}
</script>

{% endblock %}