{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
<h1>Step 2:</h1>
<h2>Availability</h2>
<p>To help use find you a good match we need to know when you are available to have meetings with your partners. Drag your mouse over the calendar below to indicate your availability in blue.</p>
<form class="well" method="post" id="availability_form">
   {{user_availability_form}}
   {% csrf_token %}
   <table class="table table-bordered time-table">
      <thead>
         <tr>
            <th width="12.5%"></th>
            {% for d in days %}
            <th width="12.5%">{{d}}</th>
            {% endfor %}
         </tr>
      </thead>
      <tbody>
      {% for h in hours %}
      <tr>
         <td rowspan="2" class='time-label' width="12.5%">{{h}}</td>
         {% for d in days %}
         <td class="time-cell day-{{d}} hour-{{h}} hour-whole" width="12.5%" id="day-{{d}}-hour-{{h}}-whole"></td>
         {% endfor %}
      </tr>
      <tr>
         {% for d in days %}
         <td class="time-cell day-{{d}} hour-{{h}} hour-half" width="12.5%" id="day-{{d}}-hour-{{h}}-half"></td>
         {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
   </table>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Next</button>
    </div>
  </div>
</form>
{% endblock %}
{% block bottom_script %}
<script>


$(document).ready(function(){
    var isMouseDown = false;
    var isSelected = false;
    var start;
    var end;

    var hours = [{% for h in hours %}'{{h}}'{% if not forloop.last %},{% endif %}{% endfor %}];
    var days = [{% for d in days %}'{{d}}'{% if not forloop.last %},{% endif %}{% endfor %}];

    function updateStates(){
      var parts = start.split("-");
      var startDay = parts[1];
      var startHour = parts[3];
      var startIsWhole = parts[4] == "whole";

      parts = end.split("-");
      var endDay = parts[1];
      var endHour = parts[3];
      var endIsWhole = parts[4] == "whole";

      startDayIndex = days.indexOf(startDay);
      endDayIndex = days.indexOf(endDay);
      startHourIndex = hours.indexOf(startHour);
      endHourIndex = hours.indexOf(endHour);

      if(startDayIndex>endDayIndex){
        var temp = endDayIndex;
        endDayIndex = startDayIndex;
        startDayIndex =temp;
      }

      if(startHourIndex>endHourIndex){
        var temp = endHourIndex;
        endHourIndex = startHourIndex;
        startHourIndex = temp;

        temp = endIsWhole;
        endIsWhole = startIsWhole;
        startIsWhole = temp;
      }

      if(startHourIndex==endHourIndex && startIsWhole!=endIsWhole){
        startIsWhole = true;
        endIsWhole = false;
      }

      $(".time-cell.temp-selected").each(function(){
        $(this).removeClass('temp-selected');
      });

      $(".time-cell.temp-not-selected").each(function(){
        $(this).removeClass('temp-not-selected');
      });

      for(var d=startDayIndex;d<=endDayIndex;d++){
        for(var h=startHourIndex;h<=endHourIndex;h++){
          if(!(h==startHourIndex && !startIsWhole)){
            var whole = $(".time-cell.day-"+days[d]+".hour-"+hours[h]+".hour-whole")
            if(isSelected){
              whole.addClass('temp-selected');
              whole.removeClass('temp-not-selected');
            }else{
              whole.removeClass('temp-selected');
              whole.addClass('temp-not-selected');
            }
          }

          if(!(h==endHourIndex && endIsWhole)){
            var half = $(".time-cell.day-"+days[d]+".hour-"+hours[h]+".hour-half");
            if(isSelected){
              half.addClass('temp-selected');
              half.removeClass('temp-not-selected');
            }else{
              half.removeClass('temp-selected');
              half.addClass('temp-not-selected');
            }
          }
        }
      }
    }
  
    $('body').mousedown(function() {
        isMouseDown = true;
    })
    .mouseup(function() {
        isMouseDown = false;
        $(".time-cell.temp-selected").each(function(){
          $(this).removeClass('temp-selected');
          $(this).addClass('selected');
        });

        $(".time-cell.temp-not-selected").each(function(){
          $(this).removeClass('temp-not-selected');
          $(this).removeClass('selected');
        });
    });

   $('.time-cell').mouseover(function(e){
      end = $(this).attr('id');
      if(isMouseDown){
        updateStates();
      }
   }).mousedown(function() {
        isSelected = !$(this).hasClass('selected');
        start = $(this).attr('id');
        updateStates();
    });


   //init the grid
   for(var d=0;d<days.length;d++){
    var day = days[d];
    day_string = $("#id_"+day.toLowerCase()+"_availability").val();
    for(var i=0;i<day_string.length;i++){
      if(day_string[i] == "1"){
        if(i%2==0){
          $(".time-cell.day-"+day+".hour-"+hours[Math.floor(i/2)]+".hour-whole").addClass('selected');
        }else{
          $(".time-cell.day-"+day+".hour-"+hours[Math.floor(i/2)]+".hour-half").addClass('selected');
        }
      }
    }
   }

   
   //update the day values before submit
   $("#availability_form").submit(function(){
      for(var d=0;d<days.length;d++){
         var day = days[d];
         var day_string = "";
         for(var h=0;h<hours.length;h++){
            var hour = hours[h];
            var cell_whole = $(".time-cell.day-"+day+".hour-"+hour+".hour-whole");
            var cell_half = $(".time-cell.day-"+day+".hour-"+hour+".hour-half");
            if($(cell_whole).hasClass('selected')){
               day_string += "1";
            }else{
               day_string += "0";
            }

            if($(cell_half).hasClass('selected')){
               day_string += "1";
            }else{
               day_string += "0";
            }
         }
         $("#id_"+day.toLowerCase()+"_availability").val(day_string);
      }      
      return true;
   });
});
</script>
{% endblock %}
