{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
<div class="row">
   <div class="span6">
      <h1>Step 1:</h1>
      <h2>Personal Information</h2>
      <p>Our number one goal is to help you find social groups that will help you succeed in your online courses. To do that we need to know a little more about who you are and how you learn. We will use this data to find people who are similar to you and will work well with you.</p>
   </div>
   <div class="span6">
      <form class="well form-horizontal" method="post">
        {% csrf_token %}
        {{ user_form|bootstrap }}
        {{ user_profile_form|bootstrap }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Next</button>
          </div>
        </div>
      </form>
   </div>
</div>
{% endblock %}
{% block bottom_script %}
<script>
function showLearningStyleHelp(){

}

$(document).ready(function(){
  $("#id_bio").bind('input propertychange',function(){
    $("label[for='id_bio']").html("Tell us a little about yourself, ("+(140-$("#id_bio").val().length)+" characters remaining)");
  });

  $("label[for='id_learning_style']").append("<a class='btn btn-link' rel='popover' id='id_learning_style_help' data-content='<strong>Visual</strong>: data and other information is associated with images and techniques.<br><strong>Auditory</strong>: learn by hearing and speaking information.<br><strong>Tactile</strong>: learn by carrying out a physical activity.<br><strong>' data-original-title='Learning Styles'><i class='icon-question-sign'></i></a>");
  $('#id_learning_style_help').popover({'placement':'bottom','html':true,'trigger':'hover'});
});
</script>
{% endblock %}